<div class="sub-form-multi-select" [formGroup]="form.formGroup">
  <label 
    class="sub-form-multi-select__label"
    [for]="uniqueId"
  >
    <i *ngIf="!!icon" class="sub-form-multi-select__icon {{icon}}"></i>
    <div class="sub-form-multi-select__text">
      <mr-text
        [type]="'line'"
        [size]="'base'"
        [weight]="'bold'"
        [text]="label"
      ></mr-text>
      <ng-multiselect-dropdown
        [formControlName]="form.formControlNames.value"
        [id]="uniqueId"
        [placeholder]="placeholder"
        [settings]="dropdownSettings"
        [data]="options"
        [(ngModel)]="selectedOptions"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="onItemDeselect($event)"
        (click)="toggle()"
      ></ng-multiselect-dropdown>
    </div>
    <i class="sub-form-multi-select__caret fas fa-chevron-down" [ngClass]="{'sub-form-multi-select__caret--reverse': isVisible}"></i>
  </label>
</div>