<mr-dropdown
  #dropdown
  [icon]="icon"
  [label]="label"
  [placeholder]="placeholder"
  [options]="optionsSelected"
  [tabid]="tabid"
  [canDeleteText]="false"
  (deselectedOption)="handleDeselected($event)"
>
  <div *ngIf="showSearchable" class="sub-form-multi-select__searchbox" header>
    <input
      class="sub-form-multi-select__search"
      type="search"
      [placeholder]="'Buscar...'"
      (input)="handleInput($event.target)"
    >
  </div>

  <div class="sub-form-multi-select__options">
    <button
      *ngFor="let option of optionsList; trackBy: trackIndex"
      class="sub-form-multi-select__option"
      type="button"
      (click)="handleClick($event, option?.id); dropdown.handleClose()"
    >
      <mr-text [type]="'line'" [size]="'small'" [text]="option?.label"></mr-text>
    </button>
  </div>
</mr-dropdown>