@use "../../_styles/index.scss" as styles;

.form-slide {
  &__section, 
  &__file {
    gap: styles.$box-pad-base;
    display: grid;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &__file {
    margin-top: styles.$box-pad-base;
  }
}

@media (min-width: styles.$bkp-tablet) {
  .form-slide {

    &__section {
      grid-template-columns: repeat(2, styles.$box-fr-base);
    }
  }
}