@use '../../_styles/index.scss' as styles;

.tab-buttons {
  display: grid;
  gap: styles.$box-pad-base;
  grid-template-columns: repeat(4, styles.$box-fr-base);
  justify-content: center;
  align-items: center;
  width: 100%;
}