<figure *ngIf="isImage" class="sub-form-file__image">
  <mr-image
    [image]="(fileSelected || form.formGroup.controls.url.value) | noimage"
    [alt]="fileSelected || 'file selected'"
    [rounded]="'circle'"
  ></mr-image>
</figure>

<div class="sub-form-file" [formGroup]="form.formGroup">
  <label
    class="sub-form-file__label"
    [for]="uniqueId"
  >
    <i  class="sub-form-file__icon fas fa-upload"></i>
    <div class="sub-form-file__text">
      <mr-button
        [label]="label"
        [type]="'blank'"
        (clicked)="inputRef.click(); toggleLabelFocus(true)"
      ></mr-button>
      <input 
        #inputRef
        class="sub-form-file__input" 
        [type]="'file'"
        [value]=""
        (input)="handleChange($event)"
      >
    </div>
  </label>
</div>