@use '../../_styles/index.scss' as styles;

@include styles.form-input($name: 'sub-form-file');

.sub-form-file {
  &__input {
    display: none;
  }

  .button {
    width: 100%;
    justify-content: flex-start;
  }

  &__image {
    width: styles.func-toRem(12);
    height: styles.func-toRem(12);
    margin: 0 auto styles.$box-mrg-onehalf;
  }
}

@media (min-width: styles.$bkp-tablet) {
  
.sub-form-file {
  &__image {
    width: styles.func-toRem(15);
    height: styles.func-toRem(15);
  }
}
}