@use '../../_styles/index.scss' as styles;

.sliders {
  width: 90%;
  margin: styles.$box-mrg-base auto 0;

  &__image {
    width: 100%;
  }
}

.swiper-button-prev, .swiper-button-next {
  color: styles.$color-bg-white;
}

.swiper-button-prev {
  position: absolute;
  left: 0;
}

.swiper-pagination-bullet {
  background-color: styles.$color-bg-white !important;
}

@media (min-width: styles.$bkp-mobile) {
  .swiper-slide {
    margin-right: styles.$box-mrg-base !important;
    cursor: pointer;
    width: calc(100vw - 60.5rem) !important;
  }
}
