@use '../../_styles/index.scss' as styles;

.layout-login {
  display: grid;
  padding: styles.$box-pad-half;
  overflow: hidden;
  min-height: 100vh;
}

@media (min-width: styles.$bkp-desktop) {
  .layout-login {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: styles.$box-pad-none;

    &__form {
      display: grid;
      align-items: center;
      grid-template-rows: 0 100%;
      margin: styles.$box-mrg-none auto;
      min-height: 100vh;
      width: 70%;
    }
  }
}