<ng-container
  *ngIf="
    (!notice?.showUsersList && notice?.links?.length > 2) ||
    notice?.description?.length > 70
  "
>
  <div class="notices-content__notice">
    <figure
      *ngIf="notice?.content?.type !== 'pdf'"
      class="notices-content__image-notice notices-content__image-notice--shadow notices-content__image-notice--shadow--{{
        notice?.channel
      }}"
    >
      <mr-image
        [image]="notice?.content?.type === 'pdf' ? 'assets/img/pdf.svg' : notice?.content?.url"
        [alt]="'notice-img'"
      ></mr-image>
    </figure>
    <pdf-viewer
      *ngIf="notice?.content?.type === 'pdf'"
      [src]="notice?.content?.url"
      [render-text]="true"
      [original-size]="false"
      style="width: 100%; height: 500px;"
    ></pdf-viewer>

    <div class="notices-content__info-notice">
      <mr-text
        class="notices-content__text-title notices-content__text--{{ notice?.channel }}"
        [text]="notice?.title"
        [size]="'extra-large'"
        [weight]="'bold'"
      ></mr-text>
      <mr-text
        [text]="notice?.description"
        [size]="'extra-large'"
        [weight]="'regular'"
      ></mr-text>

      <div class="notices-content__links">
        <div
          class="notices-content__links-item notices-content__links-item--{{
            notice?.channel
          }}"
          *ngFor="let link of notice?.links"
        >
          <a [href]="link.url" target="_blank">
            <mr-button
              [display]="'inline'"
              [icon]="'fas fa-external-link-alt'"
              [label]="link.name"
            ></mr-button>
          </a>
        </div>
      </div>
    </div>

    <a
      class="notices-content__download"
      [href]="notice?.content?.url"
      target="_blank"
      download="download"
      *ngIf="notice?.content?.type === 'pdf'">
      <mr-text
        [text]="'Descargar'"
        [size]="'extra-large'"
        [weight]="'regular'"
      ></mr-text>
    </a>
  </div>
</ng-container>

<ng-container
  *ngIf="
    !notice?.showUsersList &&
    notice?.links?.length <= 2 &&
    notice?.description?.length < 70
  "
>
  <div class="notices-content__notice notices-content__notice--center">
    <div class="notices-content__info-notice">
      <mr-text
        class="notices-content__text-title notices-content__text--{{ notice?.channel }}"
        [text]="notice?.title"
        [size]="'extra-large'"
        [weight]="'bold'"
      ></mr-text>
      <mr-text
        [text]="notice?.description"
        [size]="'extra-large'"
        [weight]="'regular'"
      ></mr-text>

      <figure
        *ngIf="notice?.content?.type !== 'pdf'"
        class="notices-content__image-notice notices-content__image-notice--shadow notices-content__image-notice--shadow--{{
          notice?.channel
        }}"
      >
        <mr-image
          [image]="notice?.content?.type === 'pdf' ? 'assets/img/pdf.svg' : notice?.content?.url"
          [alt]="'notice-img'"
        ></mr-image>
      </figure>

      <pdf-viewer
        *ngIf="notice?.content?.type === 'pdf'"
        [src]="notice?.content?.url"
        [render-text]="true"
        [original-size]="false"
        style="width: 100%; height: 500px;"
      ></pdf-viewer>

      <div class="notices-content__links notices-content__links--center">
        <div
          class="notices-content__links-item notices-content__links-item--{{
            notice?.channel
          }}"
          *ngFor="let link of notice?.links"
        >
          <a [href]="link.url" target="_blank">
            <mr-button
              [display]="'inline'"
              [icon]="'fas fa-external-link-alt'"
              [label]="link.name"
            ></mr-button>
          </a>
        </div>
      </div>

      <a
        class="notices-content__download"
        [href]="notice?.content?.url"
        download="download"
        target="_blank"
        *ngIf="notice?.content?.type === 'pdf'">
        <mr-text
          [text]="'Descargar'"
          [size]="'extra-large'"
          [weight]="'regular'"
        ></mr-text>
      </a>
    </div>
  </div>
</ng-container>
