@use "../../_styles/index.scss" as styles;

.notices-content {
  &__download {
    border-radius: styles.$box-rad-medium;
    border: styles.$box-bor-solid transparent;
    gap: styles.$box-pad-half;
    padding: styles.$box-pad-half;
    transition: styles.$animation-ease;
    background-color: styles.$color-primary-color-alt;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: styles.$color-primary-color;
      border: styles.$box-bor-solid styles.$color-bg-white;
    }

    .text {
      color: styles.$color-bg-white !important;
      text-shadow: -4px 4px 3px rgba(0, 0, 0, 0.3);
    }
  }

  &__text {
    .text {
      color: styles.$color-bg-white !important;
      text-shadow: -4px 4px 3px rgba(0, 0, 0, 0.3);
    }

    &--network {
      .text {
        color: styles.$color-status-info-dark;
      }
    }

    &--business {
      .text {
        color: styles.$color-status-error-dark;
      }
    }

    &--opportunities {
      .text {
        color: styles.$color-status-success-dark;
      }
    }

    &--training {
      .text {
        color: styles.$color-status-warning-dark;
      }
    }
  }

  &__text-title {
    .text {
      font-size: 2.5rem;
      line-height: 3.25rem;
    }
  }

  &__image-notice {
    position: relative;
    width: 50%;
    height: auto;
    margin-top: styles.func-toRem(1.3);

    &--shadow {
      position: relative;
      width: 100%;
      background: styles.$color-primary-color-light;
      padding: styles.$box-pad-half;

      &--network {
        background-color: styles.$color-status-info-dark;
      }

      &--business {
        background-color: styles.$color-status-error-dark;
      }

      &--opportunities {
        background-color: styles.$color-status-success-dark;
      }

      &--training {
        background-color: styles.$color-status-warning-dark;
      }
    }
  }

  &__notice {
    display: grid;
    grid-template-columns: repeat(2, styles.$box-fr-base);
    padding: 0 styles.func-toRem(2.5);
    gap: styles.func-toRem(3.12);
    row-gap: styles.func-toRem(1.8);
    margin: 0 auto;

    &--center {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 50%;
    }
  }

  &__links {
    position: relative;
    margin-top: styles.func-toRem(2);

    &--center {
      display: flex;
      justify-content: center;
    }

    &-item {
      margin: styles.func-toRem(0.7) 0;

      .text {
        color: styles.$color-bg-white !important;
      }

      &--network {
        .button {
          background-color: styles.$color-status-info-dark;

          &:hover {
            background-color: styles.$color-status-info-dark !important;
            transform: translateY(-5px) scale(1.05);
          }
        }
      }

      &--business {
        .button {
          background-color: styles.$color-status-error-dark;

          &:hover {
            background-color: styles.$color-status-error-dark !important;
            transform: translateY(-5px) scale(1.05);
          }
        }
      }

      &--opportunities {
        .button {
          background-color: styles.$color-status-success-dark;

          &:hover {
            background-color: styles.$color-status-success-dark !important;
            transform: translateY(-5px) scale(1.05);
          }
        }
      }

      &--training {
        .button {
          background-color: styles.$color-status-warning-dark;

          &:hover {
            background-color: styles.$color-status-warning-dark !important;
            transform: translateY(-5px) scale(1.05);
          }
        }
      }
    }
  }
}

@media (max-width: styles.$bkp-mobile) {
  .notices-content {
    &__notice {
      grid-template-columns: 1fr !important;

      &--center {
        width: 100%;
      }
    }
  }
}

@media (max-width: styles.$bkp-tablet) {
  .notices-content {
    &__image-notice {
      width: 100%;

      .image {
        object-fit: contain;
      }
    }

    &__text-title {
      .text {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
    }
  }
}

@media (max-width: styles.$bkp-desktop) {
  .notices-content {
    &__notice {
      padding: 0 styles.func-toRem(0.6);
      gap: styles.func-toRem(1.25);
    }
  }
}
