@use '../../_styles/index.scss' as styles;

.form-forms-requests {
  display: grid;
  gap: styles.$box-pad-base;
  align-items: center;

  &__section {
    gap: styles.$box-pad-base;
    display: grid;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

@media (min-width: styles.$bkp-tablet) {
  .form-forms-requests {
    &__section {
      grid-template-columns: repeat(2, styles.$box-fr-base);

      &--columness {
        grid-template-columns: 1fr;
      }
    }
  }
}