<form class="form-forms-requests" [formGroup]="form.formGroup">
  <fieldset class="form-forms-requests__section">
    <mr-sub-form-input 
      [type]="'input'"
      [label]="'Título'"
      [icon]="'fas fa-file-signature'"
      [formControlName]="form.formControlNames.title"
    ></mr-sub-form-input>

    <mr-sub-form-input 
      [type]="'input'"
      [label]="'Asunto'"
      [icon]="'fas fa-pen-fancy'"
      [formControlName]="form.formControlNames.subject"
    ></mr-sub-form-input>

  </fieldset>

  <mr-sub-form-select
    [label]="'Plantilla'"
    [options]="templates"
    [icon]="'fas fa-pen'"
    [formControlName]="form.formControlNames.template"
  ></mr-sub-form-select>

  <fieldset class="form-forms-requests__section form-forms-requests__section--columness">
    <mr-form-fields
      [formControlName]="form.formControlNames.fields"
    ></mr-form-fields>
  </fieldset>

  <mr-button 
    [label]="'Guardar'"
    [isDisabled]="form.formGroup.invalid || form.formGroup.disabled"
    (clicked)="manualSave$.next()"
  ></mr-button>
</form>