@use '../../_styles/index.scss' as styles;

.channels-content {
    &__notice {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: styles.func-toRem(3.12);

        .text {
            color: styles.$color-primary-color !important;
        }
    }

    &__image {
        position: relative;
        width: styles.func-toRem(12.5);
        height: styles.func-toRem(12.5);

        &--shadow {
            position: relative;
            width: styles.func-toRem(12.5);
            background: styles.$color-primary-color-light;
            border-radius: styles.$box-rad-rounded;
            padding: styles.$box-pad-base;

            &--network {
              background-color: styles.$color-status-info-dark;
            }
        
            &--business {
              background-color: styles.$color-status-error-dark;
            }
        
            &--opportunities {
              background-color: styles.$color-status-success-dark;
            }
        
            &--training {
              background-color: styles.$color-status-warning-dark;
            }
        }
    }
}

@media (max-width: styles.$bkp-mobile) {
    .channels-content {
        &__image {
            width: styles.func-toRem(8) !important;
        }
    }
}

@media (max-width: styles.$bkp-tablet) {
    .channels-content {
      &__notice {
        flex-direction: column;
      }
    }
}

@media (max-width: styles.$bkp-desktop) {
    .channels-content {
      &__image {
        width: styles.func-toRem(9.5);
        
        .image {
          object-fit: contain !important;
        }
      }
  
      &__notice {
        gap: styles.func-toRem(1.25);
      }
    }
}