<div class="home-content">
  <mr-home-background class="home-content__background"></mr-home-background>
  <div class="home-content__welcome">
    <mr-card>
      <ng-container>
        <mr-text 
          [type]="'text'" 
          [weight]="'bold'" 
          [text]="'¡Bienvenida ' + currentUser?.firstName + ' ' + currentUser?.lastName + ' a esta comunidad!'">
        </mr-text>
      </ng-container>
    </mr-card>
  </div>

  <mr-slider [items]="slides"></mr-slider>

  <div class="home-content__description">
    <mr-card>
      <ng-container>
        <p>
          Mujeres ROFÉ busca dar autosuficiencia e independencia económica a
          mujeres cabeza de hogar, a través de su fortalecimiento personal y
          transferencia de herramientas para que se desempeñen
          satisfactoriamente en el entorno del emprendimiento.
        </p>
      </ng-container>
    </mr-card>
  </div>
</div>
