@use "../../_styles/index.scss" as styles;

.home-content {
  position: relative;
  padding-top: styles.$box-pad-home-content;
  display: flex;
  flex-direction: column-reverse;

  &__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__channels {
    display: grid;
    gap: styles.$box-pad-double;
  }

  &__channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &--red {
      .text--initial {
        color: styles.$color-status-info-dark !important;
      }
    }

    &--oportunidades {
      .text--initial {
        color: styles.$color-status-success-dark !important;
      }
    }

    &--formacion {
      .text--initial {
        color: styles.$color-status-warning-dark !important;
      }
    }

    &--emprendimiento {
      .text--initial {
        color: styles.$color-status-error-dark !important;
      }
    }
  }

  &__logo {
    height: styles.$box-hht-home-content-logo;
  }

  &__description,
  &__welcome {
    @include styles.font-extra-large;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    padding: styles.$box-pad-double styles.$box-pad-none;

    p {
      color: styles.$color-primary-color !important;
    }
  }

  &__welcome {
    text-align: left;
    width: fit-content;
    padding: styles.$box-pad-base styles.$box-pad-none;
  }
}

@media (min-width: styles.$bkp-tablet) {
  .home-content {
    flex-direction: column;
    padding-top: styles.$box-pad-home-content-dkp;

    &__channels {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__description {
      width: 60%;
      padding: styles.$box-pad-home-content-description styles.$box-pad-none;
    }

    &__logo {
      height: styles.$box-hht-home-content-logo-tbl;
    }
  }
}

@media (min-width: styles.$bkp-desktop) {
  .home-content {
    &__logo {
      height: styles.$box-hht-home-content-logo;
    }
  }
}
