<div class="profile-user">
  <figure class="profile-user__background">
    <mr-image [image]="'assets/img/wave-contact.svg'"></mr-image>
  </figure>
  <mr-card class="profile-user__form">
    <ng-container>
      <div class="profile-user__container">
        <div class="profile-user__data">
          <mr-text
            class="profile-user__text"
            [size]="'medium'"
            [weight]="'bold'"
            [text]="'Correo electrónico:'"
          ></mr-text>
          <mr-text
            class="profile-user__name profile-user__name--content"
            [text]="user?.email"
          ></mr-text>

          <mr-text
            class="profile-user__text"
            [size]="'medium'"
            [weight]="'bold'"
            [text]="'Ciudad:'"
          ></mr-text>
        
          <mr-text
            class="profile-user__name profile-user__name--content"
            [text]="user?.location?.cityName"
          ></mr-text>

          <mr-text
            class="profile-user__text"
            [size]="'medium'"
            [weight]="'bold'"
            [text]="'Contácto:'"
          ></mr-text>
          <mr-text
            class="profile-user__name profile-user__name--content"
            [weight]="'bold'"

            [text]="user?.phoneNumber"
          ></mr-text>

          <a
            *ngIf="user?.instagram"
            [href]="user?.instagram"
            target="_blank"
            class="profile-user__name profile-user__name--content"
          >
            <mr-text
              [weight]="'bold'"
              [text]="'Instagram'"
            ></mr-text>
          </a>

          <a
            *ngIf="user?.facebook"
            [href]="user?.facebook"
            target="_blank"
            class="profile-user__name profile-user__name--content"
          >
            <mr-text
              [weight]="'bold'"
              [text]="'Facebook'"
            ></mr-text>
          </a>

          <a
            [href]="'https://api.whatsapp.com/send?phone=57' + user?.phoneNumber"
            target="_blank"
            class="profile-user__name profile-user__name--content"
          >
            <mr-text
              [weight]="'bold'"
              [text]="'Whatsapp'"
            ></mr-text>
          </a>

          <mr-text
            class="profile-user__text"
            [size]="'medium'"
            [weight]="'bold'"
            [text]="'Descripción:'"
          ></mr-text>
          <mr-text
            [clamp]="5"
            class="profile-user__name profile-user__name--content profile-user__name--description"
            [text]="user?.description"
          ></mr-text>
        </div>
        <div class="profile-user__data profile-user__data--right">
          <figure class="profile-user__photo">
            <mr-image
              [image]="user?.image?.url"
              [rounded]="'circle'"
            ></mr-image>
          </figure>

          <mr-text
            class="profile-user__name"
            [size]="'medium'"
            [weight]="'bold'"
            [text]="user?.firstName + ' ' + user?.lastName"
          ></mr-text>
        </div>
      </div>
    </ng-container>
  </mr-card>

  <mr-button-icon
    [icon]="'arrow-left'"
    (clicked)="handleToBack()"
    class="profile-user__back"
  ></mr-button-icon>
</div>
