@use "../../_styles/index.scss" as styles;

.current-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: styles.$box-pad-half styles.$box-pad-base;
  background-color: styles.$color-primary-color;

  &--network {
    background-color: styles.$color-status-info-dark;
  }

  &--business {
    background-color: styles.$color-status-error-dark;
  }

  &--opportunities {
    background-color: styles.$color-status-success-dark;
  }

  &--training {
    background-color: styles.$color-status-warning-dark;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: styles.func-toRem(0.75);
  }

  &__image {
    width: styles.func-toRem(2.5);
    height: styles.func-toRem(2.5);
    cursor: pointer;
  }

  &__icon {
    cursor: pointer;
    color: styles.$color-bg-white;
    font-size: styles.$box-pad-onehalf;
    transition: 0.3s;

    &:hover {
      color: styles.$color-primary-color-light;
      transform: scale(1.1);
    }
  }
}
