@use '../../_styles/index.scss' as styles;

.current-user {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  justify-content: space-evenly;
  padding: styles.$box-pad-half styles.$box-pad-none;
  background-color: styles.$color-primary-color;

  &__image {
    width: styles.func-toRem(2.5);
  }

  &__icon {
    cursor: pointer;
    color: styles.$color-bg-white;
    font-size: styles.$box-pad-onehalf;
    transition: .3s;

    &:hover {
      color: styles.$color-primary-color-light;
      transform: scale(1.1);
    }
  }
}