<form class="form-forgot-password" [formGroup]="form.formGroup">
  <fieldset class="form-forgot-password__section">
    <mr-sub-form-input
      [label]="'Correo electrónico'"
      [icon]="'fas fa-at'"
      [placeholder]="'mujer@email.com'"
      [formControlName]="form.formControlNames.value"
    ></mr-sub-form-input>
    <mr-button
      class="form-forgot-password__button"
      [label]="'Enviar'"
      [isDisabled]="form.formGroup.invalid || form.formGroup.disabled"
      (clicked)="manualSave$.next()"
    ></mr-button>
  </fieldset>
</form>