<mr-text
  class="form-user-login__text"
  [type]="'paragraph'"
  [size]="'medium'"
  [weight]="'bold'"
  [text]="'¡Bienvenida a la comunidad de Mujeres ROFÉ, un espacio de crecimiento y transformación!'"
></mr-text>

<form class="form-user-login" [formGroup]="form.formGroup">
  <mr-alert
    *ngIf="!currentUser?.id && currentUser?.message"
    [text]="currentUser?.message"
    [type]="notificationsEnum.warning"
    [icon]="'fa-exclamation-triangle'"
  ></mr-alert>
  <fieldset class="form-user-login__section">
    <mr-sub-form-input 
      [type]="'input'"
      [label]="'Correo'"
      [icon]="'fas fa-user'"
      [placeholder]="'mujer@email.com'"
      [formControlName]="form.formControlNames.email"
    ></mr-sub-form-input>

    <mr-sub-form-input 
      [type]="'password'"
      [label]="'Contraseña'"
      [icon]="'fas fa-lock'"
      [placeholder]="'**********'"
      [formControlName]="form.formControlNames.password"
    ></mr-sub-form-input>

    <mr-button 
      [label]="'Iniciar sesión'"
      [display]="'block'"
      [isDisabled]="form.formGroup.invalid || form.formGroup.disabled"
      (clicked)="manualSave$.next()"
    ></mr-button>

    <a class="form-user-login__link" (click)="navigateToRegister()">¿No tienes cuenta? Creala desde aquí.</a>
  </fieldset>
</form>