@use "../../_styles/index.scss" as styles;

.form-user-login {
  padding: styles.$box-pad-onehalf;
  background-color: styles.$color-primary-color;
  border-radius: styles.$box-rad-large;
  box-shadow: 0px 5px 32px rgba(9, 30, 66, 0.15);

  &__section {
    gap: styles.$box-pad-base;
    display: grid;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &__text {
    @include styles.font-large;
    font-weight: bold;
    margin-bottom: styles.$box-mrg-onehalf;
    color: styles.$color-primary-color;
    text-align: center;
    display: block;
    margin-bottom: styles.$box-mrg-double;
  }

  &__link {
    display: flex;
    justify-content: space-between;

    & a {
      @include styles.font-base;
      color: styles.$color-primary-color-light;
      cursor: pointer;
    }
  }
}
