@use "../../_styles/index.scss" as styles;

.forgot-password {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__card {
    position: relative;
    z-index: 4;
  }

  &__text {
    display: block;
    margin-bottom: styles.$box-mrg-base;
  }
  
  &__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__back {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    animation: animate 1s linear infinite;

    & .button-icon {
      height: styles.func-toRem(4) !important;
      width: styles.func-toRem(4) !important;
      font-size: styles.func-toRem(1.56);
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: styles.$bkp-mobile) {
  .forgot-password {
    &__back {
      & .button-icon {
        height: styles.func-toRem(3) !important;
        width: styles.func-toRem(3) !important;
        font-size: styles.func-toRem(1.20);
      }
    }
  }
}

@media (min-width: styles.$bkp-tablet) {
  .forgot-password {
    width: 60%;
    margin: 0 auto;
  }
}