@use '../../_styles/index.scss' as styles;

.aside-menu {
  @include styles.animation-scale-up-top;
  position: relative;
  z-index: 1;

  &__content {
    box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.41);
    background-color: styles.$color-bg-white;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
  }


  &__menu {
    display: grid;
    gap: styles.$box-pad-base;
    margin-top: styles.$box-mrg-half;
  }
}