<form class="sub-form-location" [formGroup]="form.formGroup">
  <fieldset class="sub-form-location__section">
    <mr-sub-form-select
      [canDeleteText]="true"
      [isSearchable]="true"
      [label]="'Departamento*'"
      [placeholder]="'Seleccionar...'"
      [options]="states"
      [formControlName]="form.formControlNames.state"
    ></mr-sub-form-select>

    <mr-sub-form-select
      [canDeleteText]="true"
      [isSearchable]="true"
      [label]="'Ciudad*'"
      [placeholder]="'Seleccionar...'"
      [options]="cities"
      [formControlName]="form.formControlNames.city"
    ></mr-sub-form-select>
  </fieldset>
</form>