<ng-container *ngIf="{
  tabs: (tabs$ | async),
  notices: (notices$ | async)
} as data">
  <mr-tabs [items]="data.tabs">
    <ng-container>
      <mr-table
        [headers]="[
          ['Pito',''],
          ['Pitazo',''],
        ]"
        [items]="data.notices?.notices || []"
        [itemTemplateRef]="noticeTemplate"
      ></mr-table>
    </ng-container>
  </mr-tabs>
</ng-container>

<ng-template #noticeTemplate let-notice="item" let-index="index">
  <td class="agencies-back-office-tmpl__td">
    {{notice.title}}
  </td>
  <td class="agencies-back-office-tmpl__td">
    {{notice.description}}
  </td>
</ng-template>
