<ng-container *ngIf="{
  tabs: (tabs$ | async)
} as data">
  <mr-tabs #tabs [items]="data.tabs">
    <mr-admin-notices-list-container 
      *ngIf="tabs.active === tabEnum.notices"
    ></mr-admin-notices-list-container>

    <mr-admin-users-list-container 
      *ngIf="tabs.active === tabEnum.users"
    ></mr-admin-users-list-container>

    <mr-admin-forms-list-container
      *ngIf="tabs.active === tabEnum.forms"
    ></mr-admin-forms-list-container>

    <mr-admin-requests-list-container
      *ngIf="tabs.active === tabEnum.requests"
    ></mr-admin-requests-list-container>

    <mr-admin-slides-list-container
    *ngIf="tabs.active === tabEnum.slides"
  ></mr-admin-slides-list-container>
  </mr-tabs>
</ng-container>
