<form class="form" [formGroup]="form.formGroup">
  <mr-text
    class="form__title"
    [text]="form.formGroup.value.title"
    [weight]="'bold'"
    [size]="'extra-large'"
  ></mr-text>

  <mr-text
    class="form__title"
    [text]="form.formGroup.value.description"
    [size]="'medium'"
  ></mr-text>

  <fieldset class="form__section">
    <mr-form-fields
      [formControlName]="form.formControlNames.fields"
    ></mr-form-fields>
  </fieldset>
  <mr-button 
    [label]="'Enviar'"
    [isDisabled]="form.formGroup.invalid || form.formGroup.disabled"
    (clicked)="manualSave$.next()"
  ></mr-button>
</form>