@use '../../_styles/index.scss' as styles;

.admin-users-list-tmpl {
  &__td {
    padding: styles.$box-pad-half;
    max-width: styles.$box-wth-column-list;

    &--buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: styles.$box-pad-base;
    }
  }

  &__image {
    width: styles.$box-wth-double;
    height: styles.$box-hht-double;
  }
}

.admin-users-list {
  &__button {
    display: flex;
    justify-content: center;
    margin-top: styles.$box-mrg-base;
  }
}

.admin-users__back {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}