<div class="profile-current-user">
  <mr-home-background class="profile-current-user__background"></mr-home-background>
  <mr-card class="profile-current-user__form">
    <ng-container>
      <mr-form-user
        [dataInput]="user"
        [cities]="cities"
        [states]="states"
        [hobbies]="hobbies"
        (dataOutput)="handleCreateUser($event)"
        (formUpdate)="handleLoadCities($event)"
        (initForm)="handleLoadCities($event)"
      ></mr-form-user>
    </ng-container>
  </mr-card>
  <mr-button-icon
    [icon]="'home'"
    (clicked)="handleToBack()"
    class="profile-current-user__back"
  ></mr-button-icon>
</div>
