@use "../../_styles/index.scss" as styles;

a {
  text-decoration: none;
}

.notices-content {
  position: relative;
  padding-top: styles.$box-pad-home-content;

  &__background {
    position: absolute;
    z-index: styles.func-toNeg(3);
    top: styles.$box-pad-none;
    left: styles.$box-pad-none;
    width: styles.$box-wth-block;
  }

  &__image {
    position: relative;
    width: styles.func-toRem(12.5);
  }

  &__image-notice {
    position: relative;
    width: 50%;
    height: styles.func-toRem(34.25);

    &--shadow {
      position: relative;
      width: 100%;
      background: styles.$color-primary-color-light;
      padding: styles.$box-pad-base;

      &--network {
        background-color: styles.$color-status-info-dark;
      }

      &--business {
        background-color: styles.$color-status-error-dark;
      }

      &--opportunities {
        background-color: styles.$color-status-success-dark;
      }

      &--training {
        background-color: styles.$color-status-warning-dark;
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: styles.$box-pad-double styles.$box-pad-none styles.func-toRem(3)
      styles.func-toRem(7.5);
    gap: styles.$box-pad-base;
  }

  &__text {
    .text {
      color: styles.$color-bg-white !important;
      text-shadow: -4px 4px 3px rgba(0, 0, 0, 0.3);
    }

    &--large {
      .text {
        font-size: styles.func-toRem(4) !important;
        line-height: styles.func-toRem(4) !important;
      }
    }

    &--network {
      .text {
        color: styles.$color-status-info-dark;
      }
    }

    &--business {
      .text {
        color: styles.$color-status-error-dark;
      }
    }

    &--opportunities {
      .text {
        color: styles.$color-status-success-dark;
      }
    }

    &--training {
      .text {
        color: styles.$color-status-warning-dark;
      }
    }
  }

  &__notice-container {
    position: relative;

    .card {
      border-radius: styles.$box-rad-large styles.$box-rad-large
        styles.$box-pad-none styles.$box-pad-none !important;
      width: 90% !important;
      margin: styles.$box-mrg-none auto;
    }
  }

  &__notice {
    display: grid;
    grid-template-columns: repeat(2, styles.$box-fr-base);
    padding: 0 styles.func-toRem(2.5);
    gap: styles.func-toRem(3.12);
    row-gap: styles.func-toRem(1.8);
    margin: 0 auto;
  }

  &__links {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: styles.func-toRem(2);
    margin-top: styles.func-toRem(2);
    flex-wrap: wrap;

    &-item {
      padding: 2px 10px;
      cursor: pointer;

      .text {
        color: styles.$color-bg-white !important;
      }
      
      &--network {
        background-color: styles.$color-status-info-dark;
      }

      &--business {
        background-color: styles.$color-status-error-dark;
      }

      &--opportunities {
        background-color: styles.$color-status-success-dark;
      }

      &--training {
        background-color: styles.$color-status-warning-dark;
      }

      &--contact {
        background-color: styles.$color-primary-color;
      }
    }
  }

  &__wave {
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
  }

  &__back {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    animation: animate 1s linear infinite;
  
    & .button-icon {
      height: styles.func-toRem(4) !important;
      width: styles.func-toRem(4) !important;
      font-size: styles.func-toRem(1.56);
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: styles.$bkp-mobile) {
  .notices-content {
    &__image {
      width: styles.func-toRem(5) !important;
    }

    &__notice {
      grid-template-columns: 1fr !important;
    }

    &__text {
      &--large {
        .text {
          font-size: styles.func-toRem(1.7) !important;
          line-height: styles.func-toRem(2) !important;
        }
      }
    }

    &__info {
      padding: styles.func-toRem(1) styles.$box-pad-none styles.func-toRem(1)
        styles.func-toRem(0.7) !important;
    }
  }
}

@media (max-width: styles.$bkp-tablet) {
  .notices-content {
    &__text {
      &--large {
        .text {
          font-size: styles.func-toRem(1.5) !important;
        }
      }
    }

    &__image-notice {
      height: styles.func-toRem(20.25);
    }
  }
}

@media (max-width: styles.$bkp-desktop) {
  .notices-content {
    &__image {
      width: styles.func-toRem(9.5);

      .image {
        object-fit: contain !important;
      }
    }

    &__info {
      padding: styles.$box-pad-double styles.$box-pad-none styles.func-toRem(3)
        styles.func-toRem(3);
    }

    &__notice {
      padding: 0 styles.func-toRem(0.6);
      gap: styles.func-toRem(1.25);
    }
  }
}
