@use '../../_styles/index.scss' as styles;

.home-content {
  &__bg {
    position: relative;
    min-height: calc(100vh - 64px);
  }

  &__image-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }

  &__image-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
  }
}