<div class="sub-form-input" [formGroup]="form.formGroup">
  <label
    class="sub-form-input__label"
    [for]="uniqueId"
  >
    <i *ngIf="!!icon" class="sub-form-input__icon {{icon}}"></i>
    <div class="sub-form-input__text">
      <mr-text
        [type]="'line'"
        [size]="'base'"
        [weight]="'bold'"
        [text]="label"
      ></mr-text>
      <div class="sub-form-input__field">
        <input
          #inputPassword
          class="sub-form-input__input"
          [id]="uniqueId"
          [formControlName]="form.formControlNames.value" 
          [type]="type"
          [placeholder]="placeholder ?? ''" 
          (keypress)="handleKeypress($event.key)"
          (focus)="handleFocus($event.target)"
          (blur)="handleBlur()"
        >
        <i class="sub-form-input__iconLogin fas fa-eye" (click)="handleShowPassword(inputPassword)"></i>
      </div>
    </div>
  </label>
</div>