<div class="dropdown closest__{{uniqueId}}">
  <label
    class="dropdown__label"
    tabindex="0"
    [ngClass]="{'dropdown__label--focus': isVisible}"
    [attr.data-form]="tabid"
    (click)="toggleVisible()"
    (keydown.space)="handleKeydown($event?.target)"
  >
    <i *ngIf="!!icon" class="dropdown__icon {{icon}}"></i>

    <div class="dropdown__text">
      <mr-text
        [type]="'line'"
        [size]="'small'"
        [weight]="'bold'"
        [text]="label"
      ></mr-text>
      <mr-text
        *ngIf="!options?.length"
        class="dropdown__input"
        [type]="'line'"
        [size]="'small'"
        [text]="text || placeholder"
      ></mr-text>
      <div *ngIf="options" class="dropdown__options" [ngClass]="{ 'dropdown__options--active': options?.length > 2 }">
        <span *ngFor="let option of options" class="dropdown__option">
          <mr-text
            class="dropdown__text-option"
            [type]="'line'"
            [size]="'small'"
            [text]="option?.label"
          ></mr-text>
          <i class="dropdown__times-circle fas fa-times-circle" (click)="handleDeselect(option?.id)"></i>
        </span>
      </div>
    </div>

    <i *ngIf="canDeleteText && text" class="dropdown__times fas fa-times" (click)="handleDeleteText()"></i>

    <i *ngIf="!(canDeleteText && text)" class="dropdown__caret fas fa-chevron-down" [ngClass]="{'dropdown__caret--reverse': isVisible}" (click)="handleDeleteText()"></i>
  </label>

  <mr-floating-card
    class="dropdown__floating"
    [isVisible]="isVisible"
    (closed)="handleClose()"
  >
    <ng-content select="[header]" header></ng-content>
    <ng-content></ng-content>
  </mr-floating-card>
</div>
