<div class="channels-content">
    <mr-channels-background class="channels-content__background" [bannerImage]="'assets/img/contactanos-banner.png'"></mr-channels-background>
    
    <div class="channels-content__info">
        <figure class="channels-content__image">
            <mr-image [image]="'assets/img/logo-2.png'" [alt]="'bg-channels'"></mr-image>
        </figure>

        <div class="channels-content__text">
            <mr-text [type]="'line'" [text]="'Contáctanos'" [size]="'extra-large'" [weight]="'bold'" class="channels-content__text--large"></mr-text>
            <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"></mr-text>
        </div>
    </div>

    <mr-card class="channels-content__notices-container">
        <ng-container>
            <div class="channels-content__notices">
                <mr-notice></mr-notice>
                <mr-notice></mr-notice> 
                <mr-notice></mr-notice> 
                <mr-notice></mr-notice> 
                <mr-notice></mr-notice> 
                <mr-notice></mr-notice> 
                <mr-notice></mr-notice> 
                <mr-notice></mr-notice> 
            </div>
        </ng-container>
    </mr-card>
</div>