<div class="channels-content">
    <mr-channels-background class="channels-content__background" [bannerImage]="'assets/img/contactanos-banner.png'"></mr-channels-background>
    
    <div class="channels-content__info">
        <figure class="channels-content__image">
            <mr-image [image]="'assets/img/logo-2.png'" [alt]="'bg-channels'"></mr-image>
        </figure>

        <div class="channels-content__text">
            <mr-text [type]="'line'" [text]="'Contáctanos'" [size]="'extra-large'" [weight]="'bold'" class="channels-content__text--large"></mr-text>
            <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"></mr-text>
        </div>
    </div>

    <mr-card class="channels-content__notices-container">
        <ng-container>
            <div class="channels-content__notices">
                <div class="channels-content__notice">
                    <figure class="channels-content__image channels-content__image--shadow">
                        <mr-image [image]="'assets/img/logo-2.png'" [alt]="'notice-item'"></mr-image>
                    </figure>
                    <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"  [weight]="'bold'"></mr-text>
                </div>
    
                <div class="channels-content__notice">
                    <figure class="channels-content__image">
                        <mr-image [image]="'assets/img/logo-2.png'" [alt]="'notice-item'"></mr-image>
                    </figure>
                    <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"  [weight]="'bold'"></mr-text>
                </div>
    
                <div class="channels-content__notice">
                    <figure class="channels-content__image">
                        <mr-image [image]="'assets/img/logo-2.png'" [alt]="'notice-item'"></mr-image>
                    </figure>
                    <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"  [weight]="'bold'"></mr-text>
                </div>
    
                <div class="channels-content__notice">
                    <figure class="channels-content__image">
                        <mr-image [image]="'assets/img/logo-2.png'" [alt]="'notice-item'"></mr-image>
                    </figure>
                    <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"  [weight]="'bold'"></mr-text>
                </div>
    
                <div class="channels-content__notice">
                    <figure class="channels-content__image">
                        <mr-image [image]="'assets/img/logo-2.png'" [alt]="'notice-item'"></mr-image>
                    </figure>
                    <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"  [weight]="'bold'"></mr-text>
                </div>
    
                <div class="channels-content__notice">
                    <figure class="channels-content__image">
                        <mr-image [image]="'assets/img/logo-2.png'" [alt]="'notice-item'"></mr-image>
                    </figure>
                    <mr-text [text]="'Ayuda y soporte'" [size]="'extra-large'"  [weight]="'bold'"></mr-text>
                </div>
            </div>
        </ng-container>
    </mr-card>
</div>