@use '../../_styles/index.scss' as styles;

.item-menu {
  display: grid;
  padding-right: styles.$box-pad-onehalf;
  grid-template-columns: min-content auto;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &__link {
    text-decoration: none;
  }

  &__image {
    width: styles.func-toRem(3.5);
    height: styles.func-toRem(3);
  }

  &__label {
    display: grid;
    gap: styles.$box-pad-quarter;
  }
}