<form class="form-user" [formGroup]="form.formGroup">
  <div>
    <fieldset class="form-user__section">
      <mr-sub-form-input 
        [type]="'input'"
        [label]="'Nombres'"
        [icon]="'fas fa-user'"
        [formControlName]="form.formControlNames.firstName"
      ></mr-sub-form-input>
  
      <mr-sub-form-input 
        [type]="'input'"
        [label]="'Apellidos'"
        [icon]="'fas fa-user'"
        [formControlName]="form.formControlNames.lastName"
      ></mr-sub-form-input>
  
      <mr-sub-form-input 
        [type]="'input'"
        [label]="'Correo'"
        [icon]="'fas fa-envelope'"
        [placeholder]="'mujer@email.com...'"
        [formControlName]="form.formControlNames.email"
      ></mr-sub-form-input>
  
      <mr-sub-form-input 
        [type]="'number'"
        [label]="'Celular'"
        [icon]="'fas fa-phone-alt'"
        [formControlName]="form.formControlNames.phoneNumber"
      ></mr-sub-form-input>

      <mr-sub-form-multi-select
        [label]="'Hobbies'"
        [placeholder]="'Seleccionar...'"
        [icon]="'fas fa-skating'"
        [options]="hobbies"
        [isSearchable]="true"
        [canResetForm]="canResetForm"
        [formControlName]="form.formControlNames.hobbies"
      ></mr-sub-form-multi-select>
  
      <mr-sub-form-input 
        [type]="'input'"
        [label]="'Instagram'"
        [icon]="'fab fa-instagram'"
        [formControlName]="form.formControlNames.instagram"
      ></mr-sub-form-input>

      <mr-sub-form-input 
        [type]="'input'"
        [label]="'Facebook'"
        [icon]="'fab fa-facebook'"
        [formControlName]="form.formControlNames.instagram"
      ></mr-sub-form-input>
    </fieldset>
  
    <fieldset class="form-user__location">
      <mr-sub-form-location
        [cities]="cities"
        [states]="states"
        [formControlName]="form.formControlNames.location"
      ></mr-sub-form-location>
    </fieldset>
  
    <fieldset class="form-user__description">
      <mr-sub-form-input 
        [type]="'number'"
        [label]="'Número de identificación'"
        [icon]="'fab fa-document'"
        [formControlName]="form.formControlNames.document"
      ></mr-sub-form-input>

      <mr-sub-form-textarea 
        [text]="'Presentación personal'"
        [placeholder]="'Yo soy...'"
        [formControlName]="form.formControlNames.description"
      ></mr-sub-form-textarea>
    </fieldset>
  </div>

  <fieldset class="form-user__file">
    <mr-sub-form-file
      [label]="'Adjuntar imagen de perfil'"
      [canResetImage]="canResetForm"
      [formControlName]="form.formControlNames.image"
    ></mr-sub-form-file>
  </fieldset>

  <mr-button 
    [label]="'Guardar'"
    [isDisabled]="form.formGroup.invalid || form.formGroup.disabled"
    (clicked)="manualSave$.next()"
  ></mr-button>
</form>